<ion-content>
  <ion-card class="margin" *ngIf="mostrarFiltros">
    <ion-grid class="botones-container">
  <ion-row class="botones-row">
    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/dia-ingreso">
        I.Día
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/totalingreso">
        I.Total
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/oficina-ingreso">
       I.Oficin
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/ruta-ingreso">
        I.Ruta
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/pie-ruta-ingreso">
        RUTAPIE
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/turno-ingreso">
        I.Turno
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/auto-ingreso">
        I.Placa
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/pie-placa-ingreso">
        PL.PIE
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1">
      <ion-button class="custom-button"  routerLink="/pie-ruta-placa-ingreso">
        PL.RUTA
      </ion-button>
    </ion-col>

    <ion-col class="boton-col" size="1"> 
      <ion-button class="custom-button"  routerLink="/comparacion-ingresos">
        COMPT.
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
      <form (submit)="obtenerYCrearGrafico()" *ngIf="mostrarFiltros">
        <ion-item>
        <ion-label>Placas</ion-label>
        <ion-select multiple="true" [(ngModel)]="autos" name="autos">
          <ion-select-option *ngFor="let auto of autosDisponibles" [value]="auto.id">
            {{ auto.placa}}
          </ion-select-option>
</ion-select>
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label>F.Inicio:</ion-label>
        <ion-input type="date" [(ngModel)]="fecha_inicio" name="fecha_inicio"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label>F.Fin:</ion-label>
        <ion-input type="date" [(ngModel)]="fecha_fin" name="fecha_fin"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
        <ion-item>
          <ion-label>Tipo Servicio:</ion-label>
      <ion-select [(ngModel)]="servicio" name="servicio">
        <ion-select-option value="">Total</ion-select-option>
        <ion-select-option value="SPI">SPI</ion-select-option>
        <ion-select-option value="SPP">SPP</ion-select-option>
      </ion-select> 
        </ion-item>
<div class="button-container">
  <ion-button class="ion-button2" type="submit" color="primary">Filtrar</ion-button>
</div>        
</form>
  </ion-card>
  <div class="boton-container" *ngIf="!mostrarFiltros">
    <ion-button size="small" color="danger" (click)="limpiarFiltros()" class="ion-buttonf">Limpiar</ion-button>
  </div>
  <ion-card>
    <ion-grid>
      <ion-row class="botones-row">
        <ion-col size="auto">
          <ion-button class="custom-button2" fill="outline" (click)="setPeriodo('semana')">
            <small>Semana</small>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="custom-button2" fill="outline" (click)="setPeriodo('mes')">
            <small>Mes</small>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="custom-button2" fill="outline" (click)="setPeriodo('anio')">
            <small>Año</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header class="contenido-centrado">
  <ion-card-title class="ion-text-center">INGRESOS POR PLACA</ion-card-title>
  <p>Importe Total: S/ {{ montoTotal }} - Pasajeros: {{ totalPasajeros | number:'1.0-0' }}</p>
  <p>{{ fecha_inicio | date: 'dd/MM/yyyy' }} - {{ fecha_fin | date: 'dd/MM/yyyy' }}</p>
</ion-card-header>
    <ion-card-content>
      <canvas id="graficoPieAuto" style="width: 100%; height: 500px;"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
