<ion-content>
  <ion-card class="margin">
    <ion-card-header>
      <ion-card-title>Subir Archivo Excel</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <input type="file" (change)="onFileSelected($event)" accept=".xlsx, .xls"/>
      </ion-item>
      <div class="button-container">
          <ion-button class="ion-button2" (click)="uploadFile()" color="primary">Subir Archivo</ion-button>
      </div>   
    </ion-card-content>
  </ion-card>
</ion-content>
