<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="table-container">
    <ion-button expand="block" color="primary" (click)="goCreate()">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      Registrar Usuario
    </ion-button>

    <ion-grid>
      <ion-row class="table-header">
        <ion-col size="4"><strong>Usuario</strong></ion-col>
        <ion-col size="4"><strong>Permisos</strong></ion-col>
        <ion-col size="4"><strong>Acciones</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let user of users" class="table-row">
        <ion-col size="4">{{ user.username }}</ion-col>
        <ion-col size="4">{{ user.permisos_vistas }}</ion-col>
        <ion-col size="4">
          <ion-button fill="outline" color="warning" (click)="editUser(user.username)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>     
          <ion-button fill="outline" color="warning" (click)="deleteUser(user.username)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
