/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
body.login-page ion-header {
    display: none;
  }
.botones-container {
    .botones-container {
  margin: 10px 0 0 0; 
}

  }
  
  .botones-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
margin-bottom: 0 !important;
  padding-bottom: 0 !important;  }
  
  .no-margin {
    padding: 1px !important; 
    margin: 1px !important; 
  }
  
  .custom-button {
    --border-color: #0054e9 !important; 
    --color: white !important;
    --background: #0054e9 !important;
    --padding-start: 0;
    --padding-end: 0;
    font-size: 12px; 
    height: 10px; 
    width: 60px; 
    margin: 0 !important; 
    padding: 0px 0px !important; 
  }
  .custom-button2 {
    --border-color: #189d0d !important;
    --color: white !important; 
    --background: #189d0d !important; 
    --padding-start: 0;
    --padding-end: 0;
    font-size: 12px;
    height: 10px;
    width: 50px;
    margin: 0 !important; 
    --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;
  }
  @media screen and (max-width: 768px) {
    .custom-button2 {
      font-size: 14px;
  line-height: 1;
  height: auto;
  min-height: 16px;           
  width: 75px;
  --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;

  margin: 2px !important;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
   .custom-button {
  --border-color: #0054e9 !important;
  --color: white !important;
  --background: #0054e9 !important;
  font-size: 12px;
  line-height: 1;
  height: auto;
  min-height: 22px;           
  width: 60px;
  --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;

  margin: 2px !important;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}


  }
  .contenido-centrado {
  text-align: center;
}
ion-card-header.contenido-centrado {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

ion-card-title,
ion-card-header p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.1;
}


.contenido-centrado p {
  margin: 2px 0;  /* reduce el espacio vertical entre párrafos */
  font-size: 14px; /* opcional: para uniformar */
}
.boton-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 10px; /* Espacio opcional arriba */
  }
  
  .ion-buttonf {
     --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;
height: auto;
  min-height: 22px;           
  width: 70px;
  margin: 5px !important;
    font-size: 14px;
     --border-color: #189d0d !important;
  --color: white !important;
  --background: #189d0d !important;
  }
  .botonesd-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
  padding: 5px;
}
  .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columnas de igual tamaño */
  gap: 2px;
  padding: 5px;
}
.mostrar {
  width: 80%;
}
.ion-card2 {
  width: 80%;
}
.margin{
  margin-top: 40px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-button2 {
  min-height: 35px;           
  width: 95px;
  margin: 5px !important;
  font-size: 14px;
}
.scrollable-card {
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #ccc;
}
.canvas-wrapper {
  max-height: 400px; /* Ajusta según tu necesidad */
  overflow-y: auto;
  padding-right: 4px; /* espacio para scrollbar */
}

.canvas-wrapper::-webkit-scrollbar {
  width: 12px;
}

.canvas-wrapper::-webkit-scrollbar-thumb {
  background: #073b6b;
  border-radius: 4px;
}

.canvas-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.canvas-padding-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.canvas-padding {
  flex: 1;
  padding: 2px 0;
  overflow: hidden;
}
.scroll-edge {
  width: 20px;
  overflow-y: auto;
  touch-action: pan-y;
  height: 100%;
  position: relative;
  background-color: transparent;
}
.scroll-fill {
  height: 310px; /* más grande que .canvas-wrapper para que se muestre la barra */
}

.scroll-edge::-webkit-scrollbar {
  width: 30px;
}

.scroll-edge::-webkit-scrollbar-track {
  background: #15b49a;
}

.scroll-edge::-webkit-scrollbar-thumb {
  background: #1599b9;
  border-radius: 2px;
}

.scroll-edge::-webkit-scrollbar-thumb:hover {
  background: #091263;
}
canvas#graficoCanvas {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#graficoIngreso {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#graficoIngresos {
  width: 100% !important;
  height: 500px !important;
  touch-action: pan-y;
}
canvas#graficoAuto {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#graficoRuta {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#graficoTurno {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}

canvas#graficoPieAuto {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}

canvas#graficoPieRPlaca {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#graficoPieRuta {
  width: 100% !important;
  height: 300px !important;
  touch-action: pan-y;
}
canvas#canvasComparacion {
  width: 100% !important;
  height: 100px !important;
  touch-action: pan-y;
}
.canvas-wrapper2 {
  max-height: 500px; /* Ajusta según tu necesidad */
  max-width: 800px; /* Ajusta según tu necesidad */
  overflow-y: auto;
  padding-right: 4px; /* espacio para scrollbar */
}

.canvas-wrapper2::-webkit-scrollbar {
  width: 12px;
}

.canvas-wrapper2::-webkit-scrollbar-thumb {
  background: #6b0909;
  border-radius: 4px;
}

.canvas-wrapper2::-webkit-scrollbar-thumb:hover {
  background: #0f0568;
}



  
  
