.botones-container {
    .botones-container {
  margin: 10px 0 0 0; 
}

  }
  
  .botones-row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
margin-bottom: 0 !important;
  padding-bottom: 0 !important;  }
  
  .no-margin {
    padding: 1px !important; 
    margin: 1px !important; 
  }
  
  .custom-button {
    --border-color: #0054e9 !important; 
    --color: white !important;
    --background: #0054e9 !important;
    --padding-start: 0;
    --padding-end: 0;
    font-size: 12px; 
    height: 10px; 
    width: 60px; 
    margin: 0 !important; 
    padding: 0px 0px !important; 
  }
  .custom-button2 {
    --border-color: #189d0d !important;
    --color: white !important; 
    --background: #189d0d !important; 
    --padding-start: 0;
    --padding-end: 0;
    font-size: 12px;
    height: 14px;
    width: 60px;
    margin: 0 !important; 
    padding: 1px 1px !important; 
  }
  @media screen and (max-width: 768px) {
    .custom-button2 {
      font-size: 14px;
  line-height: 1;
  height: auto;
  min-height: 22px;           
  width: 65px;
  --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;

  margin: 2px !important;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
   .custom-button {
  --border-color: #0054e9 !important;
  --color: white !important;
  --background: #0054e9 !important;
  font-size: 12px;
  line-height: 1;
  height: auto;
  min-height: 22px;           
  width: 60px;
  --padding-top: 0px !important;   
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
  --padding-end: 0px !important;
  padding: 0 !important;

  margin: 2px !important;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}


  }
  .contenido-centrado {
  text-align: center;
}
ion-card-header.contenido-centrado {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

ion-card-title,
ion-card-header p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.1;
}


.contenido-centrado p {
  margin: 2px 0;  /* reduce el espacio vertical entre párrafos */
  font-size: 14px; /* opcional: para uniformar */
}

  